@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color:bisque;
}

header{
    background-color:rgb(156, 116, 63);
}

header h1{
    text-align: center;
    padding: 10px;
}

#burguer{
    background-color:rgb(145, 94, 28);
    color: black;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover{
    background-color:rgb(189, 109, 11);
    color: white;
    
}

menu{
    display: none;
}

menu ul{
    list-style-type: none;    
}
menu ul li a{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(224, 173, 106);
    color: black;
    border-top: 1px solid black;
}

menu ul li a:hover{
    background-color: rgb(189, 134, 66);
    color: white;
}

main{
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.548);
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
}

article h2{
    padding-bottom: 20px;
}

article p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}